body{
    display:contents;
}

.navitem{ 
     text-decoration: none;
   color : black;
   margin-right: 15px;
}
 .navitem:hover{
      text-decoration: underline;
}

.navbar{
    float:right;  /*float는 정렬할때 쓰는 태그*/
    /* border:1px solid red; */  /*border는 박스를 그려주는 명령어 유용하다!*/
    margin : 20px;
}

.mainBox{
    margin-top:  200px;    
    text-align: center;
    }
.input-area{
    margin-top: 20px;
}